<% provide(:title, 'About')%>
<h1>About</h1>
<p>About page for Employee Management System</p>
<img src="https://cdn.pixabay.com/photo/2017/08/20/17/42/gulls-2662550_1280.jpg" alt="gulls" class="img-rounded img-responsive">