<%= provide(:title, 'Contact')%>
<h1>Contact</h1>
<p>Contact page for Employee Management System</p>
                        <h4>Nkululeko Mokgele</h4>
                        <hr>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i>nmokgele@gmail.com
                            <br />
                            <i class="fa fa-github"></i> <a href="https://github.com/nmabe" target="_blank" >nmabe</a>                            
                            <br />
                            <i class="glyphicon glyphicon-earphone"></i>065 901 8407</p>
                        </p>
