<%= provide(:title, 'Home')%>
<h1>Employee Management System</h1>
<p>This is the home page of the Employee Management System</p>
<%= link_to "Create New Employee", create_path , class: "btn btn-large btn-primary"%>