<% provide(:title, @employee.name)%>
<div class="row">
    <aside class="col-md-4">
        <section class="employee-info">
            <h1>
                <%= gravatar_for @employee %>
                <%= @employee.name %> 
            </h1>
        </section>
    </aside>
</div>