<footer class="footer">
    <small>
        Built with <i class="fa fa-heart"></i> by Nkulukeo Mokgele
    </small>
    <ul>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact Me", contact_path %></li>
        <li><a href="https://www.thedigitalacademy.co.za" target="_blank">Digital Academy</li>
    </ul>
</footer>